<!DOCTYPE html>
<html lang="pt-Br">
	<head>
		<%- include('./partials/Head.ejs', { botName: botName, pageTitle: pageTitle, logged: logged }) %>
	</head>
	<body class="overflow-auto bg-gray-800">
		<%- include('./partials/Header.ejs', { botName: botName, pageTitle: pageTitle, logged: logged }) %>
		<div class="h-screen flex flex-col bg-gray-700">
			<div class="p-5 mt-10 bg-gray-700">
				
			</div>
		</div>
		<script src="/public/scripts/toggler.js"></script>
	</body>
</html>
