html {
    scrollbar-face-color: #334155;
    scrollbar-base-color: #334155;
    scrollbar-3dlight-color: #334155;
    scrollbar-highlight-color: #334155;
    scrollbar-track-color: #334155;
    scrollbar-arrow-color: #334155;
    scrollbar-shadow-color: #334155;
    scrollbar-darkshadow-color: #334155;
}

::-webkit-scrollbar { width: 8px; height: 3px; }
::-webkit-scrollbar-button { background-color: #334155 }
::-webkit-scrollbar-track { background-color: #334155; }
::-webkit-scrollbar-track-piece { background-color: #334155; }
::-webkit-scrollbar-thumb { height: 50px; background-color: #64748B; border-radius: 3px; }
::-webkit-scrollbar-corner { background-color: #334155;}
::-webkit-resizer { background-color: #64748B }

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.rotate-img-l {
    transition: all .2s ease-out;
    transform: scale(1) perspective(1000px) rotateX(23deg) rotateY(23deg) rotate(-9.8deg);
    box-shadow: -67.1px 62.5px 125px -25px rgba(9,9,14,.856),-16.2px 37.5px 75px -37.5px rgba(6,12,34,.274);
}

.rotate-img-r {
    transition: all .2s ease-out;
    transform: scale(1) perspective(1000px) rotateX(23deg) rotateY(-23deg) rotate(15deg) translateX(-35px);
    box-shadow: -67.1px 62.5px 125px -25px rgba(9,9,14,.856),-16.2px 37.5px 75px -37.5px rgba(6,12,34,.274);
}

.rotate-img-l:hover {
    transform: scale(1) perspective(1000px) rotateX(0deg) rotateY(0deg) rotate(0deg);
}

.rotate-img-r:hover{
    transform: scale(1) perspective(1000px) rotateX(0deg) rotateY(0deg) rotate(0deg) translateX(0px);
}

.gradient-title {
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.add-button-anf:hover {
    transform: translateY(-8px) scale(1.05) translateY(0px);
}

.add-button-ans:hover {
    transform: translateY(0px) scale(0.9) translateY(0px);
}

.player {
    box-shadow: -1px -1px 16px rgba(0, 0, 0, .2);
    z-index: 1;
}

@media (min-width: 1024px) {
    .top-navbar {
        display: inline-flex !important;
    }
}
